.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-family: var(--font-mono);
}

.navbar .logo{
    font-weight: bold;
}

.nav-link {
    padding: 1rem;
}

.navbar * {
    color: white;
}

.navbar a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}