.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-family: var(--font-mono);
}

.navbar .logo{
    font-weight: bold;
}

.nav-link {
    padding: 1rem;
}

.navbar * {
    color: white;
}

